#body{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.sve {
  display: grid;
  background-color: white;
  
}

.gornji {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: white;
  grid-area: gornji;
}

.malilogo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.naslov {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: black;
  background-color: white;
}

.kosara {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.malilogo img {
  width: 150px;
  padding: 0;
}

.kosara img {
  width: 27px;
  height: 27px;
  background: none;
}

.brojac {
  position: absolute;
  background: darkgray; 
  color: white; 
  padding: 2px 5px;
  border-radius: 50%; 
  min-width: 5px;
  text-align: center;
  line-height: 10px;
  font-size: 10px;
  bottom: 0%;
  right: 50%;
}

.kategorije {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: kategorije;
}

.kategorije ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kategorije li button {
  display: block;
  padding: 8px;
  border: none;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}

.logo {
  display: flex;
  grid-area: logo;
}

.logo img {
  display: block;
  width: 100%;
}
.logo .tekst {
  position: relative;
  top: 10px;
  right: 250px;
  color: black;
  font-size: 24px;
  font-weight: lighter;
}

.kontakt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: kontakt;
}

.kontakt ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kontakt li button {
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
}
#product-display{
  display: flex;
  grid-area: proizvodi;
}

#product-display ul{
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  column-gap: 50px;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto;
}
#product-display ul li {
  position: relative;
}
#product-display ul li img {
  width: auto;
  height: 100px;
}
#product-display ul li button {
  position: absolute;
  bottom: 35%;
  left: 50%;
  opacity: 0;
}
#product-display ul li button img {
  width: 27px;
  height: 27px;
  border-radius: 40%;
}
#product-display ul li:hover button{
  opacity: 1;
}
.sve{
  grid-template-columns: auto auto auto auto;
  grid-template-areas: 
    'gornji gornji gornji gornji'
    'kategorije logo logo logo'
    'kategorije proizvodi proizvodi proizvodi '
    'kontakt proizvodi proizvodi proizvodi '
    ;
}

@media only screen and (max-width: 1024px) {
  .sve{
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.3fr 0.1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    'gornji gornji gornji gornji' 
    'logo logo logo logo'
    'kategorije proizvodi proizvodi proizvodi'
    'kategorije proizvodi proizvodi proizvodi'
    'kontakt proizvodi proizvodi proizvodi'
    ;
  }
  #product-display ul{
    grid-template-columns: auto auto;
  }
}